@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {
 font-family: "calluna", Georgia, serif;
 line-height: 1.625;
 font-size:1.125rem;
 color:#292425;
}

p a:link {
 color: #990033;
 text-decoration: none;
 border-bottom: dotted 1px #990033;
}

p a:visited {
 color: #685e60;
 text-decoration: none;
 border-bottom: dotted 1px #e3b171;}

p a:hover, a:active {
 color: rgba(139,35,50,0.6);
 text-decoration: none;
 border-bottom: dotted 1px rgba(139,35,50,0.6);}

/*#head-wrapper {background: url() no-repeat; margin: 0 auto; overflow: visible; width: 100%; background-color: $primary-color; padding: 0.25em; text-align: center; margin-bottom: 1rem;}

#head-wrapper h2 {text-indent: -9999px;}

#head-wrapper a {text-decoration: none; color: #FFF; border-bottom: none;}*/

/*.name {padding: 1em auto; height: 300px; } */

.logo {
 background: url(../img/RRS-logo-web-banner.svg) no-repeat;
 text-indent: -99999px;
 margin-bottom: 1rem;
}

.ec-logo-wrapper {
    position: relative;
    background-color: $primary-color;
    height: 2.5rem;
    margin-bottom: 2.5rem;

}

.ec-logo-wrapper .ec-logo {
    position: absolute;
    width: 50px;
    height:  50px;
    left: 50%;
    right: 50%;
    top: 3px;
    margin-left: -25px;
    z-index: 2;
}
// Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -
.top-bar {
 margin-bottom: 5rem;
}

.divider {
  border-right: 1px solid lime !important;
  }

/*  .button-group {
    border-right: 2px solid #990033 !important;
  }*/

// Background color for the top bar
$topbar-bg-color: $white !default;
$topbar-bg: $topbar-bg-color !default;

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -
h1,.alpha   { $h1-font-size: rem-calc(44); }
h2,.beta    { $h2-font-size: rem-calc(37); }
h3,.gamma   { $h3-font-size: rem-calc(27); }
h4,.delta   { $h4-font-size: rem-calc(23); }
h5,.epsilon { $h5-font-size: rem-calc(18); }
h6,.zeta    { $h6-font-size: 1rem; }

// Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -
.label {font-family: $font-family-sans-serif;}

// Media Queries
// - - - - - - - - - - - - - - - - - - - - - - - - -
@media only screen and (min-width: 40.063em) {

    .ec-logo-wrapper {
        position: relative;
    }

    .ec-logo-wrapper .ec-logo {
        position: absolute;
        width: 50px;
        height:  50px;
        left: 50%;
        right: 50%;
        top: 5px;
        margin-left: -46px;
        z-index: 2;
    }

    .logo {
     margin-left: 3em !important;
     height: 200px;
     width: 200px;
    }
}
