@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* @import url(cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css);*/

body {
 font-family: "calluna", Georgia, serif;
 line-height: 1.625;
 font-size:1.125rem;
 color:#333;
 background-color: $neutral-color;
}

.full-grid {
  padding-left: 0 !important;
  padding-right: 0rem !important;
}

p a:link {
 color: #990033;
 text-decoration: none;
 border-bottom: solid 1px $primary-color;
}

p a:visited {
 color: #685e60;
 text-decoration: none;
 border-bottom: solid 1px $primary-color;}

p a:hover, a:active {
 color: $secondary-color;
 text-decoration: none;
 /*border-bottom: solid 1px rgba(139,35,50,0.6);*/ }

a:active {
  border-bottom: none;
}

/* @font-face {
  font-family: '[set]Foundicons';
  src: url('fonts/[set]_foundicons.eot');
  src: url('fonts/[set]_foundicons.eot?#iefix') format('embedded-opentype'),
       url('fonts/[set]_foundicons.woff') format('woff'),
       url('fonts/[set]_foundicons.ttf') format('truetype'),
       url('fonts/[set]_foundicons.svg#[set]Foundicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class*="foundicon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
}

[class*="foundicon-"]:before {
  font-family: "[set]Foundicons";
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
}*/

/*#head-wrapper {background: url() no-repeat; margin: 0 auto; overflow: visible; width: 100%; background-color: $primary-color; padding: 0.25em; text-align: center; margin-bottom: 1rem;}

#head-wrapper h2 {text-indent: -9999px;}

#head-wrapper a {text-decoration: none; color: #FFF; border-bottom: none;}*/

/*.name {padding: 1em auto; height: 300px; } */

.ec-logo-wrapper {
    position: relative;
    background-color: $primary-color;
    height: 2rem;
    margin-bottom: 1rem;
}

.ec-logo-wrapper .ec-logo {
    position: absolute;
    width: 40px;
    height:  40px;
    left: 50%;
    right: 50%;
    top: 3px;
    margin-left: -25px;
    z-index: 2;
}

/*.logo {
 background: url(../img/RRS-logo-web-banner.svg) no-repeat;
 text-indent: -99999px;
 margin-left: 1.5em;
 margin-bottom: 0.5rem;
 text-align: center;
 height: 150px;
 width: 150px;
}*/

#logo {
 text-indent: -99999px;
}

#logo img {
  max-width: 100%;
  width: 150px;
  margin:1rem 0;
  padding-bottom: 1em;
  border-bottom: 0px;
  text-decoration: none;
}

#color-background {
 background-color: $tertiary-color;
 color: #fff;
 width: 100%;
 padding: 5em 0;
 margin-bottom: 2rem;
}

// Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -

.top-bar {
 margin-bottom: 1rem;
 background-color: $tertiary-color;
}

.top-bar .toggle-topbar.menu-icon a {
  font-family: $font-family-sans-serif;
  text-transform: uppercase;
}

.divider {
  }

/*.primary {
  margin-bottom: 2em !important;
  background-color: $tertiary-color !important;
  }*/

.sub-nav,
.top-bar a {
  font-family: inherit;
  font-weight: 100 !important;
  letter-spacing: 0.1rem;
  text-transform:uppercase;
}

.sub-nav {
  background-color: $secondary-color;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center;
}

.sub-nav ul {
  list-style-type: none !important;
}

.sub-nav li {
  display: block;
}

.sub-nav a:hover {
  border-bottom: none;
  color: $neutral-color;
}

.sub-nav ul li a {
  color: #fff !important;
  display: inline-block;
}
.sub-nav a:hover {
  color: #eee;
}

.inline-list{
  display: table;
  margin: 0 auto;
  text-align: center;
}

.footer-links {
  list-style-type: none;
}

.footer-links a:hover {
  border-bottom: solid 1px rgba(139,35,50,0.6);
}

// Lists
// - - - - - - - - - - - - - - - - - - - - - - - - -
[class*="block-grid-"] {
  margin: 1rem 0rem; }

[class*="block-grid-"]:first-child {
  margin-top: 0.5rem; }

.clearing-assembled .clearing-container .carousel > ul{ width: auto !important; }
.clearing-assembled .clearing-thumbs li {
  padding-bottom: 1rem;
}
.clearing-container .carousel > ul{ width: auto !important; }
.clearing-caption {font-family: $font-family-slab; font-weight: 100; }

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -
h1,.alpha   { $h1-font-size: rem-calc(44); }
h2,.beta    { $h2-font-size: rem-calc(37); }
h3,.gamma   { $h3-font-size: rem-calc(27); }
h4,.delta   { $h4-font-size: rem-calc(23); }
h5,
.epsilon { $h5-font-size: rem-calc(18); }
h6,.zeta    { $h6-font-size: 1rem; }

.primary-buttons a {
  font-weight: 100;
  text-transform: uppercase;
}

.primary-buttons a:hover {
  border-bottom: none;
}

.primary-image h3 {
  position: absolute;
  color: #fff;
  font-family: $font-family-slab;
  font-weight: 700;
  bottom: 5.5rem;
  padding:0 1rem;
}

.primary-image h4 {
  position: absolute;
  color: #fff;
  bottom:0.5rem;
  padding: 0 1rem;
  font-size: 0.875rem;
  line-height: 130%;
}

.primary-caption {
  color: #fff;
  margin-top: -12rem;
  margin-bottom: 2rem;
  padding: 1.5rem;
  font-size: 1.375rem;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.side-image-caption {
  padding:1rem;
  background-color: $gainsboro;
  margin-top: 0;
  margin-bottom: 1rem;
}
.caption {
 padding: 1.5rem;
 padding-bottom: 0.25em !important;
}
.bottom-image-left .caption {
  background-color: #EEE !important;

}
.bottom-image-center .caption {
  background-color: $gainsboro !important;
}
.bottom-image-right .caption {
  background-color: #EEE !important;
}

blockquote {
 border: none !important;
 color: #fff;
}

blockquote .quote {
 color: #fff;
 font-size: 4rem;
 quotes: "\201C""\201D""\2018""\2019""\f1a3";
 display: inline;
 line-height: 1em;
}

blockquote .quote:before {
 content: open-quote;
 font-size: 4em;
 margin-right: -0.25em;
}
blockquote .quote:after {
 content: close-quote;
 font-size: 4em;
 line-height: -10em;

}
.fi-quote:before {
  content: "\f1a3";
}

// Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -
.label {font-family: $font-family-sans-serif;}

// Images
// - - - - - - - - - - - - - - - - - - - - - - - - -

figure {
  padding: 0 !important;
  margin: 0 !important;
}

.primary-image {
  max-width: 100%;
  overflow: hidden;
  /*border-bottom: 2px solid $neutral-color;*/
}

/*.bottom-image-left, .bottom-image-center, .bottom-image-right  {
  display: block;
  margin-top: -1.5rem;
  margin-bottom: 0;
  max-width: 100%;
  max-height: 220px;
} */

.side-image {
 margin: 1rem 0;
}

// Footer
// - - - - - - - - - - - - - - - - - - - - - - - - -
#footer {
 background-color:$gainsboro;
 margin-top: 2rem;
 padding-top: 2rem;
}

footer img {
 max-width: 100%;
 width: 200px;
}

.social li {
 display:inline;
 text-decoration: none;
 list-style-type: none;
 margin-right: 1rem;
}

.social a {border-bottom:none;}


// Media Queries
// - - - - - - - - - - - - - - - - - - - - - - - - -
@media only screen and (min-width: 40.063em) {

.ec-logo-wrapper {
    position: relative;
}

.ec-logo-wrapper .ec-logo {
    position: absolute;
    width: 50px;
    height:  50px;
    left: 50%;
    right: 50%;
    top: 1px;
    margin-left: -46px;
    z-index: 2;
}

#logo img {
  max-width: 100%;
  width: 400px;
  margin-bottom: 0.5rem;
}

footer img {
   width: 200px;
   margin-bottom: 0.5rem;
 }

.primary-buttons {
  margin-top:2rem;
}


// Images
// - - - - - - - - - - - - - - - - - - - - - - - - -
/*  .imagelist {
    margin-bottom: 5em;
  }

  .imagelist li{
    padding:0;
    margin:0;
    margin-top: -2rem;
    max-width: 100%;
    height: 220px;
    margin-bottom: 2rem;
  }*/
  .side-image {
   margin: 0;
  }

// Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -
.primary-image h3 {
  bottom: 10rem;
  padding:0 1rem;
}

.primary-image h4 {
  color: #fff;
  bottom: 3.5rem;
  padding: 0 1rem;
  font-size: 1.375rem;
  line-height: 150%;
}


// Navigation
// - - - - - - - - - - - - - - - - - - - - - - - - -
  nav.top-bar {
  text-align:center;
  }
  section.top-bar-section {
  display: inline-block;
  }

  .navbar li a {
   margin-right: 0.5rem;
  }

  .sub-nav li {
  display: inline-block;
}
 
.sub-nav li a {
  text-align: center;
}

// Lists
// - - - - - - - - - - - - - - - - - - - - - - - - -

[class*="block-grid-"] > li {
  display: block;
  height: auto;
  float: left;
  padding: 0; }


[class*="block-grid-"] {
  display: block;
  padding: 0;
  margin: -1rem -0.9rem 0 !important; }

.social li {
 display:inline-block;
 padding-right: 2rem;
}

}
