@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

body {font-family: "calluna", Georgia, serif;
line-height: 1.625;
font-size:1.125rem;
color:#292425;
background:$neutral-color; /*#eae6dc;*/}

a:link {
 color: #990033;
 text-decoration: none;
 border-bottom: dotted 1px #990033;
}

a:visited {
 color: #685e60;
 text-decoration: none;
 border-bottom: dotted 1px #e3b171;}

a:hover, a:active {
 color: rgba(139,35,50,0.6);
 text-decoration: none;
 border-bottom: dotted 1px rgba(139,35,50,0.6);}

#head-wrapper {width: 100%; background-color: $primary-color; padding: 0.5em; margin-bottom: 1rem;}

#head-wrapper a {text-decoration: none; color: #FFF; border-bottom: none;}
